// header
header {
    width: 100%;
    height: rem(116);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#1a1a1a, #8d8d8d00);
    position: fixed;
    z-index: 10;
}

.nav__menu__li {
    display: flex;
    gap: rem(150);
    color: $whiteColor;
    @include mainFont($size: 18);
}

.nav__menu,
.sub__menu__li {
    a {
        position: relative;
        padding: rem(5) 0;

        &::after {
            width: 0;
            content: "";
            height: rem(2);
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: $whiteColor;
            transition: all ease 0.3s;
        }

        &:hover::after {
            width: 100%;
        }
    }
}

.logo {
    width: rem(300);
}

.logo a {
    width: 100%;
}

.logo a img {
    width: 100%;
    transform: translateY(rem(10));
}

.nav--right__wrap {
    display: flex;
    gap: rem(20);
    justify-content: flex-end;
    align-items: center;
}

.hamburger-btn {
    width: rem(40);
    height: rem(40);
    display: none;
}

.sub__menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 12;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    // display: none;
}


.sub__menu.active {
    opacity: 1;
    pointer-events: auto;
}

.sub__menu__li {
    display: flex;
    flex-direction: column;
    gap: rem(70);
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sub__menu.active .overlay {
    opacity: 1;
}

.sub__menu__content {
    position: absolute;
    top: 0;
    right: 0;
    width: rem(450);
    height: 100vh;
    padding: rem(150) rem(50);
    background-color: $primaryDeepColor;
    color: $whiteColor;
    @include mainFont($size: 24, $weight: 600);
    transform: translateX(100%);
    transition: transform 0.4s ease;
}

.sub__menu.active .sub__menu__content {
    transform: translateX(0);
}

.close__btn {
    position: absolute;
    top: rem(40);
    right: rem(40);
    background-color: inherit;

}

// footer
.footer {
    width: 100%;
    background-color: $footerColor;
    padding: rem(30) 0;
    color: $brownColor;
}

.footer>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    width: rem(100);
}

.footer__txt__wrap {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: rem(20);

    &>h2 {
        @include mainFont($size: 20, $weight: 700);
    }

    &>p {
        @include mainFont($size: 20, $weight: 400);

    }
}



// CTA Btn
.cta__btn {
    width: max-content;
    font-size: rem(24);
    padding: rem(15) rem(40);
    background-color: $primaryColor;
    box-shadow: inset 0 0 0 2px $whiteColor;
    border-radius: 40px;
    color: $whiteColor;
    transition: all ease-in-out 0.3s;

    &--black {
        width: max-content;
        background-color: $txtColor;
        font-size: rem(24);
        padding: rem(15) rem(40);
        box-shadow: inset 0 0 0 2px $whiteColor;
        border-radius: 40px;
        color: $whiteColor;
        transition: all ease-in-out 0.3s;

    }
}

.cta__btn:hover {
    background-color: $primaryDeepColor;
}

.cta__btn--black:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    color: $txtColor;
}

// Btn
.btn {
    width: max-content;
    font-size: rem(20);
    padding: rem(10) rem(30);
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $whiteColor;
    border-radius: 40px;
    color: $whiteColor;
    transition: all ease-in-out 0.3s;

    &:hover {
        background-color: $whiteColor;
        color: $txtColor;
    }

}

.is-active {
    background-color: $whiteColor;
    color: $txtColor;
}

// selectBtn 
.select__btn {
    padding: rem(10) rem(30);
    width: max-content;
    border-radius: rem(40);
    border: 1px solid $txtColor;
    background-color: transparent;
    @include mainFont($size: 20, $weight: 400);
    transition: all 0.3s ease;
}

.select__btn:hover {
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
    color: $whiteColor;
}

.select__btn.is-active {
    background-color: $primaryColor;
    border: 1px solid $primaryColor;
    color: $whiteColor;
}

// Lang Tab 
.lang__tab__wrap {
    width: fit-content;
    height: fit-content;
    border-radius: 40px;
    background-color: rgba($color: #fff, $alpha: 0.5);
    display: flex;
    font-size: rem(20);
    position: relative;
}

.lang__tab {
    width: rem(55);
    padding: rem(10) rem(15);
    border-radius: 40px;
    position: relative;
    z-index: 2;
    transition: color 0.3s;
}

.tab--on {
    @include mainFont($size: rem(16), $weight: 700, $lineHeight: 1.3);
    color: $whiteColor;
}

.tab__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 40px;
    background-color: $primaryColor;
    z-index: 1;
    transition: transform 0.3s ease;
}

.fade-edge {
    -webkit-mask-image: linear-gradient(to right,
            transparent 0%,
            black 5%,
            black 95%,
            transparent 100%);
    mask-image: linear-gradient(to right,
            transparent 0%,
            black 5%,
            black 95%,
            transparent 100%);
}