@use 'sass:math';

@function rem($size) {
    $size : math.div($size, 16);
    @return #{$size}rem;
}

@mixin flex($justifyContent: center, $alignItems: stretch, $gap: null) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
    gap: $gap;
}

@mixin mainFont($fontFamily: 'pretendard', $size: null, $weight: 400, $lineHeight: 1.3, $letterSpacing: 0) {
    font-family: $fontFamily;
    font-size: rem($size);
    font-weight: $weight;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}

@mixin subFont($fontFamily: 'bodoni', $size: null, $weight: 400, $lineHeight: 1.3, $letterSpacing: 0) {
    font-family: $fontFamily;
    font-size: rem($size);
    font-weight: $weight;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}

@mixin kvFont($fontFamily: 'anada', $size: null, $weight: 400, $lineHeight: 1.0, $letterSpacing: 0) {
    font-family: $fontFamily;
    font-size: rem($size);
    font-weight: $weight;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}