@media (max-width:1719px) {

    // global
    .sec__margin {
        margin: rem(100) rem(60);
    }

    .sec__margin--lg {
        margin: rem(100) rem(202);
    }

    // main

    // .banner__sec
    .banner__sec {
        margin-top: rem(400);
        margin-bottom: rem(200);
    }

    .parallax__item__imgWrap {
        width: rem(767);
        height: rem(560);
    }

    .parallax__item__desc {
        @include mainFont($size: 50, $weight: 300);
    }


    // program-sec
    .program__sec .container {
        padding: rem(200) rem(212) rem(100) rem(212);
    }

    // gallerySec
    .gallery__sec {
        padding: rem(100) rem(60);

    }

    // =======================================SUB03============================================
    // regionBtnSec
    .sub03__region__btn__sec {
        margin-top: rem(60);
        margin-bottom: 0;
    }

    // glallerySec
    .sub03__gallery__sec {
        margin-top: 0;
    }

}










@media (max-width:1469px) {

    // global
    .sec__margin {
        margin: rem(80) rem(40);
    }

    .sec__margin--lg {
        margin: rem(80) rem(40);
    }

    // main
    // hero-sec
    .hero__title {
        max-width: rem(624);
    }

    // banner-sec
    .banner__sec {
        margin-top: rem(300);
        margin-bottom: rem(300);
    }

    .parallax__item__imgWrap {
        width: rem(665);
        height: rem(450);
    }

    .parallax__item:nth-child(even) {
        margin: rem(400) 0;
    }

    .parallax__item__desc {
        @include mainFont($size: 36, $weight: 300);
    }


    // program-sec
    .program__title {
        @include subFont($size: 48, $weight: 700);
    }

    .program__subTitle {
        @include mainFont($size: 24, $weight: 400);
    }

    .program__sec .container {
        padding: rem(100) rem(40) rem(60) rem(40);
    }

    .program__card__num {
        @include subFont($size: 56, $weight: 400, $lineHeight: 0.8);
    }

    .program__card__title {
        @include mainFont($size: 24, $weight: 700);
    }

    .program__card {
        width: calc(437 / (1469 - 120) * 100%);
    }

    // gallerySec
    .gallery__sec {
        padding: rem(80) rem(40);

        .gallery__subTitle {
            @include mainFont($size: 20, $weight: 400);
        }

        .gallery__title {
            @include subFont($size: 40, $weight: 700);
        }
    }




    // kv-sec
    .kv__title {
        @include mainFont($size: 40, $weight: 700);
    }

    .kv__title::after {
        @include kvFont($size: 36);
    }


    //================sub01==================
    // kv-sec
    .sub01__region__title {
        @include subFont($size: 70, $weight: 700);
    }

    // attraction__sec
    .attraction__title {
        @include subFont($size: 48, $weight: 700);
    }

    .attraction__subTitle span {
        @include mainFont($size: 24, $weight: 700);
    }

    .attraction__subTitle {
        @include mainFont($size: 24, $weight: 400);
    }

    .attraction__card h4 {
        @include mainFont($size: 24, $weight: 700);
    }

    .attraction__card__desc {
        @include mainFont($size: 15, $weight: 400);
    }

    .attraction__card {
        height: rem(480);
    }

    // directSec
    .sub01__direct__title {
        @include subFont($size: 48, $weight: 700);
    }

    .sub01__direct__card__wrap {
        .sub01__direct__card {
            .sub01__direct__card__region {
                @include mainFont($size: 24, $weight: 700);
            }

            .sub01__direct__card__desc {
                @include mainFont($size: 24, $weight: 300);
            }
        }
    }


    // regionBtnSec
    .sub01__region__btn__sec {
        .swiper {
            margin: 0 rem(30);
        }

        .container {
            max-width: rem(1074);
            position: relative;
        }
    }

    // =======================================SUB03===========================================
    // regionBtnSec
    .sub03__region__btn__sec {
        margin-top: rem(40);
        margin-bottom: 0;

        .container--sm {
            max-width: rem(1193);

            .swiper {
                margin: 0 rem(20);
            }
        }
    }

    // glallerySec
    .sub03__gallery__sec {
        margin-top: 0;

        .fade-edge {
            mask-image: linear-gradient(to right,
                    transparent 0%,
                    black 0%,
                    black 95%,
                    transparent 100%);
        }
    }

    // glallerySec
    .txt__incheon,
    .colon,
    .region__name {
        @include subFont($size: 96, $weight: 700);
    }

}
















@media (max-width:1199px) {

    // global
    .sec__margin {
        margin: rem(60) rem(20);
    }

    .sec__margin--lg {
        margin: rem(60) rem(20);
    }

    // header
    .nav__menu__li {
        display: none;
    }

    .hamburger-btn {
        display: block;
    }

    // footer
    .footer__txt__wrap {

        &>h2 {
            @include mainFont($size: 16, $weight: 700);
        }

        &>p {
            @include mainFont($size: 16, $weight: 400);

        }
    }

    // container padding follows global setting

    .cta__btn {
        font-size: rem(20);
    }

    .cta__btn--black {
        font-size: rem(20);
    }


    // hero-sec
    .hero__subtitle {
        @include mainFont($size: 24);
    }

    .hero__title {
        max-width: rem(500);
    }


    // banner-sec
    .banner__sec {
        margin-top: rem(200);
        margin-bottom: rem(200);
    }

    .parallax__item__imgWrap {
        width: rem(551);
        // height: rem(600);
    }

    .parallax__item__desc {
        @include mainFont($size: 28, $weight: 300);
        left: 50%;
    }

    .parallax__item:nth-child(even) .parallax__item__desc {
        right: 50%;
    }


    // program-sec
    .program__sec .container {
        padding: rem(100) rem(40) rem(60) rem(40);
    }

    .program__title__wrap {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: rem(20);
    }

    .program__card {
        width: 100%;
        height: rem(300);
    }

    .program__card__wrap {
        flex-direction: column;
        gap: rem(17);
        text-align: left;
    }

    .program__card__content__wrap {
        flex-direction: row;
        gap: rem(100);
        text-align: left;
        align-items: center;
        padding-left: rem(150);
        justify-content: flex-start;
    }

    .program__card__num {
        @include subFont($size: 56, $weight: 400, $lineHeight: 1);
    }

    .Program__card__line {
        width: rem(1);
        background-color: $whiteColor;
        border: none;
        height: 100%;
        transition: none;
    }


    // gallery-sec

    .gallery__sec {
        padding: rem(60) rem(20);

        .gallery__subTitle {
            @include mainFont($size: 24, $weight: 400);
        }

        .gallery__title {
            @include subFont($size: 48, $weight: 700);
            margin-bottom: rem(30);
        }

        .swiper-wrapper {
            height: rem(1020);
        }

    }

    // kv-sec
    .kv__title {
        @include mainFont($size: 32, $weight: 700);
    }

    .kv__title::after {
        @include kvFont($size: 28);
    }


    // sub01
    // regionBtnSec
    .sub01__region__btn__sec {
        .container {
            max-width: rem(784);
        }
    }

    // attractionSec
    .attraction__card {
        height: rem(450);
    }

    .attraction__swiper {

        .swiper-wrapper {
            height: rem(917);
        }
    }

    .attraction__title {
        margin-bottom: rem(30);
    }

    .attraction__card {
        cursor: default;

        .attraction__txt__wrap {
            height: auto;
            margin-bottom: rem(30);
            overflow: visible;
        }

        .attraction__card__desc,
        .attraction__btn {
            opacity: 1;
        }

        &:hover {
            .attraction__txt__wrap {
                height: auto;
            }
        }
    }

    // directSec
    .sub01__directSec {
        margin: rem(60) 0;

        .container--sm {
            padding: 0;
        }
    }

    .sub01__direct__title {
        margin-bottom: rem(30);
    }

    .sub01__direct__card__wrap {
        flex-wrap: wrap;

        .sub01__direct__card {
            flex-basis: 100%;
            height: rem(300);

            .sub01__direct__card__desc {
                margin-bottom: rem(30);
            }
        }
    }

    // =======================================SUB03============================================

    // sub03
    // regionBtnSec
    .sub03__region__btn__sec {
        margin-top: rem(30);
        margin-bottom: 0;

        .container--sm {
            max-width: rem(625);

            padding-top: rem(30);
            padding-bottom: rem(30);
        }
    }

    // glallerySec
    .sub03__gallery__sec {
        margin-top: 0;

        .sub03__content__wrap {
            flex-direction: column;
            gap: rem(30);

            .sub03__colorPalette__wrap {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;

                .sub03__colorPalette__desc {
                    align-self: flex-end;
                }

                .sub03__colorPalette {
                    margin: 0;
                }
            }

            .sub03__content__right__wrap {
                height: rem(693);
            }
        }
    }

    .region__name {
        @include subFont($size: 70, $weight: 700);
    }

    .txt__incheon,
    .colon {
        display: none;
    }

}












@media (max-width:767px) {

    // global
    .sec__margin {
        margin: rem(60) rem(0);
    }

    .sec__margin--lg {
        margin: rem(60) rem(0);
    }

    // header
    .logo {
        width: rem(250);
    }

    .sub__menu__content {
        width: rem(280);
        padding: rem(128) rem(40);
        @include mainFont($size: 20, $weight: 600);
    }

    .close__btn {
        right: rem(20);
    }

    // footer
    .footer__txt__wrap {
        gap: rem(15);

        &>h2 {
            @include mainFont($size: 13, $weight: 700);
        }

        &>p {
            @include mainFont($size: 13, $weight: 400);

        }
    }


    // .hero-sec

    .hero__subTitle__br {
        display: block;
    }

    .hero__title {
        max-width: rem(400);
    }

    // banner-sec
    .banner__sec {
        margin-top: rem(160);
        margin-bottom: rem(200);
    }

    .parallax__item__imgWrap {
        width: rem(479);
        height: rem(450);
    }

    .parallax__item:nth-child(even) {
        margin: rem(300) 0;
    }

    .parallax__item__desc {
        @include mainFont($size: 24, $weight: 300);
        position: static;
        margin-top: rem(30);
    }

    .parallax__item:nth-child(even) .parallax__item__desc {
        justify-self: flex-end;
    }

    // program-sec
    .program__sec .container {
        padding: rem(80) rem(20) rem(60) rem(20);
    }

    .program__title {
        @include subFont($size: 40, $weight: 700);
    }

    .program__subTitle {
        @include mainFont($size: 20, $weight: 400);
    }

    .program__card {
        width: 100%;
        height: rem(260);
    }

    .program__card__content__wrap {
        flex-direction: column;
        gap: rem(20);
        padding: rem(30);
    }

    .Program__card__line {
        width: 45%;
        height: rem(1);
    }

    .program__card:hover .Program__card__line {
        height: rem(1);
    }

    .br {
        display: none;
    }

    .program__card__txt__wrap {
        gap: rem(24);
        text-align: center;
    }

    .program__card__num {
        @include subFont($size: 48, $weight: 400, $lineHeight: 1);
    }


    // gallery-sec
    .gallery__sec {
        padding: rem(60) rem(0);

        .gallery__subTitle {
            @include mainFont($size: 20, $weight: 400);
        }

        .gallery__title {
            @include subFont($size: 40, $weight: 700);
        }

        .swiper-wrapper {
            height: rem(777);
        }

    }

    // kv-sec
    .kv__title {
        @include mainFont($size: 28, $weight: 700);
    }

    .kv__title::after {
        @include kvFont($size: 28);
    }

    .kv__contents__wrap {
        gap: rem(80);
    }


    // ====================================sub01=====================================
    // kv-sec
    .sub01__region__title {
        @include subFont($size: 56, $weight: 700);
    }

    // attraction__sec
    .attraction__title {
        @include subFont($size: 40, $weight: 700);
    }

    .attraction__subTitle span {
        @include mainFont($size: 20, $weight: 700);
    }

    .attraction__subTitle {
        @include mainFont($size: 20, $weight: 400);
    }

    .attraction__card {
        height: rem(380);
    }

    .attraction__btn {
        font-size: rem(16);
        padding: rem(8) rem(20);
    }

    .attraction__swiper {

        .swiper-wrapper {
            height: rem(777);
        }
    }

    .attraction__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #000, rgba(0, 0, 0, 0.25));
        // background: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    // regionBtnSec
    .sub01__region__btn__sec {
        .swiper {
            margin: 0 rem(30);
        }

        .container {
            max-width: rem(484);
        }

        .select__btn {
            font-size: rem(18);
        }
    }

    // directSec
    .sub01__direct__title {
        @include subFont($size: 40, $weight: 700);
    }

    .sub01__direct__card__wrap {
        .sub01__direct__card {
            .sub01__direct__card__region {
                @include mainFont($size: 20, $weight: 700);
            }

            .sub01__direct__card__desc {
                @include mainFont($size: 20, $weight: 300);
                margin-bottom: rem(20);
            }
        }
    }

    // =======================================SUB03============================================
    // rehionBtnSec
    .sub03__region__btn__sec {
        margin: rem(20) 0;

        .btn {
            font-size: rem(18);
        }

    }

    // glallerySec
    .sub03__gallery__sec {
        margin-top: 0;

        .sub03__colorPalette__title {
            font-size: rem(16);
        }

        .sub03__colorPalette__desc {
            font-size: rem(16);
        }

        .sub03__content__right__wrap {
            height: rem(543);
        }

        .swiper-slide {
            width: 80%;
        }


    }

    .region__name {
        @include subFont($size: 56, $weight: 700);
    }

}















@media (max-width:478px) {

    // global
    .sec__margin {
        margin: rem(50) rem(0);
    }

    .sec__margin--lg {
        margin: rem(50) rem(0);
    }

    // header
    .logo {
        width: rem(200);
    }

    .lang__tab__wrap {
        display: none;
    }

    .sub__menu__content {
        width: rem(240);
        @include mainFont($size: 18, $weight: 600);

    }

    // footer
    .footer__txt__wrap {
        gap: rem(10);

        &>h2 {
            @include mainFont($size: 10, $weight: 700);
        }

        &>p {
            @include mainFont($size: 10, $weight: 400);

        }
    }

    .cta__btn {
        font-size: rem(16);
    }

    .cta__btn--black {
        font-size: rem(16);
    }


    // .hero-sec
    .hero__subtitle {
        @include mainFont($size: 18);
    }

    .hero__title {
        max-width: rem(300);
    }


    // banner-sec
    .banner__sec {
        margin-top: rem(120);
        margin-bottom: rem(160);
    }

    .parallax__item__imgWrap {
        width: rem(325);
        height: rem(250);
    }

    .parallax__item:nth-child(even) {
        margin: rem(250) 0;

    }

    .parallax__item__desc {
        @include mainFont($size: 18, $weight: 300);
        position: static;
        margin-top: rem(20);
    }


    // program-sec
    .program__card__content__wrap {
        gap: rem(14);
    }


    // gallery-sec
    .gallery__sec {
        padding: rem(50) rem(0);


        .gallery__subTitle {
            @include mainFont($size: 18, $weight: 400);
        }

        .gallery__title {
            @include subFont($size: 36, $weight: 700);
            margin-top: rem(10);
        }

        .swiper-wrapper {
            height: 100%;
        }
    }


    // kv-sec
    .kv__title {
        @include mainFont($size: 24, $weight: 700);
    }

    .kv__title::after {
        @include kvFont($size: 24);
    }

    .kv__contents__wrap {
        gap: rem(60);
    }


    // sub01
    .attraction__br {
        display: block;
    }

    // regionBtnSec
    .sub01__region__btn__sec {
        .swiper {
            margin: 0 rem(30);
        }

        .container {
            max-width: rem(364);
        }

        .select__btn {
            font-size: rem(16);
            padding: rem(8) rem(20);
        }
    }

    .sub01__region__title {
        @include subFont($size: 36, $weight: 700);
    }

    // attraction__sec
    .attraction__title {
        @include subFont($size: 36, $weight: 700);
    }

    .attraction__subTitle span {
        @include mainFont($size: 18, $weight: 700);
    }

    .attraction__subTitle {
        @include mainFont($size: 18, $weight: 400);
    }

    .attraction__card {
        height: rem(252);
    }

    .attraction__card h4 {
        @include mainFont($size: 20, $weight: 700);
    }

    .attraction__card__desc {
        display: none;
    }

    .attraction__btn {
        font-size: rem(13);
    }

    .attraction__swiper {

        .swiper-wrapper {
            height: rem(521);
        }
    }

    // directSec
    .sub01__direct__title {
        @include subFont($size: 36, $weight: 700);
    }

    .sub01__direct__card__wrap {
        .sub01__direct__card {
            .sub01__direct__card__region {
                @include mainFont($size: 18, $weight: 700);
            }

            .sub01__direct__card__desc {
                @include mainFont($size: 18, $weight: 300);
            }
        }
    }

    // =======================================SUB03===========================================
    //  regionBtnSec
    .sub03__region__btn__sec {
        margin: 0 rem(20);

        .btn {
            font-size: rem(16);
        }
    }

    //gallerySec
    .sub03__gallery__sec {
        margin-top: 0;

        .sub03__content__wrap {
            width: 100%;
            flex-direction: column-reverse;
            gap: rem(30);

            .sub03__colorPalette__wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: space-between;
                gap: rem(30);

                .sub03__colorPalette__item {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: rgba($color: #000000, $alpha: 0.3);
                    border-radius: rem(22);

                }

                .sub03__colorPalette__title {
                    padding-left: rem(30);
                    margin: 0;
                }

                .sub03__colorPalette__desc {
                    align-self: center;

                }

                .sub03__colorPalette {
                    margin: 0;
                    background: none;
                }

            }

            .sub03__content__right__wrap {
                gap: rem(30);
                width: 100%;
                height: rem(426);

                .fade-edge {
                    mask-image: linear-gradient(to right,
                            transparent 0%,
                            black 0%,
                            black 100%,
                            transparent 100%);
                }

                .swiper-slide {
                    width: 100%;
                }
            }
        }
    }

    .region__name {
        @include subFont($size: 40, $weight: 700);
    }



}