// 컬러
$primaryColor: #506DB5;
$primaryDeepColor: #222F51;
$whiteColor: #FFF;
$txtColor: #333;
$txtBrown: #B36A3C;
$darkGrayColor: #303030;
$lightGrayColor: #bababa;
$beigeColor: #F8F4E3;
$brownColor: #4C3928;
$footerColor: #CFAC8D;